<!doctype html>
<html lang="en">
  <head>
  	<title>Assignment Record</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/table/css/style.css">

	</head>
	<body>
	<!-- <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center"> -->
                <span><a href="/assignment/?a=<%=id%>" >HOME</a>
                    <div class="col-md-12 text-center mb-6">
                        <h2 class="heading-section">Assignments</h2>
                        
                    </div>
                </span>
			
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>Assignment Number</th>
						    	<th>Name</th>
						      <th>End Date</th>
						      <th>Faculty</th>
						      <th>PDF</th>
						      <th>Upload</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">
						      
                    <% data.map((item,index)=>{%>
                      <td><%=item.id%></td>
                      <td>
                      <div >
						      		<span><%=item.name%> </span>
						      	</div>
						      </td>
						      <td >
					        	<div>
				             	<span><%=item.enddate%></span>
				          	</div>
				          </td>
				          <td><%=item.faculty%></td>
				          <td><a href="/images/<%=item.picture%>"><%=item.picture%></a></td>
						      <td>
								  <% 
								 var a=new Date()
								 var e=new Date(item.enddate)
								  if(a<e){%>
                                  <form action="/assignment/upload" method="post" enctype="multipart/form-data">
                                        <input required type="file" name="paper" >
                                        <input type="hidden" name="aid" value="<%=item.id%>" >
                                        <input type="hidden" name="id" value="<%=id%>" >
                                        <input type="submit" value="Upload">
                                </form><%}else{%>
									<span style="color: red;">You are Late sorry Ask to faculty to extend submmision date</span>
				        	<%}%>
								</td>
						    </tr>
                        <%})%>
						  </tbody>
						</table>
					</div>
				</div>

	<script src="/table/js/jquery.min.js"></script>
  <script src="/table/js/popper.js"></script>
  <script src="/table/js/bootstrap.min.js"></script>
  <script src="/table/js/main.js"></script>

	</body>
</html>

